Source: vyatta-cfg-default
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Priority: optional
Section: net
Standards-Version: 4.7.2
Build-Depends: debhelper-compat (= 13),
 dh-exec
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-cfg-default.git
Vcs-Browser: https://github.com/nudanos/vyatta-cfg-default

Package: vyatta-cfg-default-minimal
Architecture: all
Description: Minimal Vyatta Network OS configuration
 Vyatta yang modules for base image. Minimal set of modules used
 in dataplane image and all other images.
Provides: vyatta-cfg-default
Conflicts: vyatta-cfg-default-common, vyatta-cfg-default
Replaces: vyatta-cfg-default-common, vyatta-cfg-default
Depends: 
 ${misc:Depends}

Package: vyatta-cfg-default-vdr-dp
Architecture: all
Provides: vyatta-cfg-default
Conflicts: vyatta-cfg-default-common, vyatta-cfg-default
Replaces: vyatta-cfg-default-common, vyatta-cfg-default
Depends: 
 ${misc:Depends}
Description: Vyatta default dataplane config
 Default config file for dataplane ISO

Package: vyatta-cfg-default-vr
Architecture: all
Provides: vyatta-cfg-default
Conflicts: vyatta-cfg-default-common, vyatta-cfg-default
Replaces: vyatta-cfg-default-common, vyatta-cfg-default
Depends: 
 ${misc:Depends}
Description: Vyatta packages for VR
 This package contains the CLI modules to control the set of
 features specific to VR

Package: vyatta-cfg-default-vdr
Architecture: all
Provides: vyatta-cfg-default
Conflicts: vyatta-cfg-default-common, vyatta-cfg-default
Replaces: vyatta-cfg-default-common, vyatta-cfg-default
Depends: 
 ${misc:Depends}
Description: Vyatta default packages for VDR
 This package contains the CLI modules to control the features
 specific to VDR

Package: vyatta-cfg-default-vcpe
Architecture: all
Provides: vyatta-cfg-default
Conflicts: vyatta-cfg-default-common, vyatta-cfg-default
Replaces: vyatta-cfg-default-common, vyatta-cfg-default
Depends: 
 ${misc:Depends}
Description: Vyatta default packages for vCPE
 This package contains the CLI modules to control the features
 specific to vCPE
